/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --bg-black-900: #000000;
    --bg-black-100: #dddddd;
    --bg-black-50: #eff0f4;
    --text-black-900: #000000;
    --text-black-700: #555555;
    --text-black-600: #666666;
    --text-black-300: #bbbbbb;
    --outer-shadow: 0.2vw 0.2vw #d0d0d0, -0.2vw -0.2vw #f8f8f8;
    --outer-shadow-0: 0 0 #d0d0d0, 0 0 #f8f8f8;
    --inner-shadow: inset 0.2vw 0.2vw #d0d0d0, 0.2vw 0.2vw #f8f8f8;
}

body{
    line-height: 1.5;
    overflow-x: hidden;
    background-color: var(--bg-black-50);
    font-family: "Roboto";
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

img{
    vertical-align: middle;
    max-width: 100%;
}

.header-container{
    max-width: 1140px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.justify-content-between{
    justify-content: space-between;
}

.inner-shadow{
    box-shadow: var(--inner-shadow);
}

.outer-shadow{
    box-shadow: var(--outer-shadow);
}

.hover-in-shadow{
    position: relative;
    z-index: 1;
}

.hover-in-shadow:hover{
    box-shadow: var(--outer-shadow-0);
}

.hover-in-shadow:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}

.hover-in-shadow:hover:after{
    box-shadow: var(--inner-shadow);
}

.align-items-center{
    align-items: center;
}

.btn-1{
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 500;
    color: lightslategray;
    background-color: transparent;
    line-height: 1.5;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.3s ease;
    display: inline-block;
}

.btn-1:after{
    border-radius: 30px;
}

.background-effect .effect{
    position: absolute;
    z-index: -1;
}

.effect-1{
    width: 30px;
    height: 30px;
    border: 4px solid #8a49ff;
    right: 10%;
    bottom: 10%;
    animation: spin 10s linear infinite;
}

@keyframes spin{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.section-title{
    padding: 0 0.2vh;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    font-size: 4vh;
}

/* .section-title h2{
    display: inline-block;
    font-size: 4vh;
    font-weight: 600;
    color: lightslategray;
    margin: 0;
} */

.section.hide{
    display: none;
}

/* header */
.header{
    padding: 0.26vh 0.2vh;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.header .logo a{
    /* display: inline-block; */
    text-align: center;
    line-height: 6vh;
    height: 6vh;
    width: 6vh;
    position: absolute;
    left: 5%;
    top: 2.6vh;


    /* border: 2px solid whitesmoke; */
    border: 0.4vh solid black;
    border-radius: 50%;

    font-size: 2.5vh;
    /* color: whitesmoke; */
    color: black;
    font-weight: 600;
    font-family: "Courgette";
}

.header .hamburger-btn{
    height: 6vh;
    width: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5%;
    top: 2.6vh;

    cursor: pointer;
    border-radius: 50%;
    justify-content: center;
    transition: all 0.3s ease;
}

.header .hamburger-btn:after{
    border-radius: 50%;
}

.header .hamburger-btn span{
    display: block;
    height: 0.4vh;
    width: 2.8vh;
    background-color: var(--bg-black-900);
    position: relative;
}

.header .hamburger-btn span:before,
.header .hamburger-btn span:after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-black-900);
}

.header .hamburger-btn span:before{
    top: -1vh;
}

.header .hamburger-btn span:after{
    top: 1vh;
}

/* header - end */

/* hamburger menu - navigation */
.nav-menu{
    position: fixed;
    background-color: var(--bg-black-50);
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
}

.fade-out-effect{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    visibility: hidden;
    background-color: var(--bg-black-50);
}

.fade-out-effect.active{
    visibility: visible;
    z-index: 1000;
    animation: fadeOut 0.3s ease-out;
}

@keyframes fadeOut{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.nav-menu.open{
    visibility: visible;
    opacity: 1;
    z-index: 999;
    transition: all 0.3s ease-in;
}

.nav-menu .close-nav-menu{
    height: 6vh;
    width: 6vh;
    display: block;
    font-size: 5vh;
    line-height: 6vh;
    border-radius: 50%;
    position: absolute;
    right: 5%;
    top: 2.6vh;
    cursor: pointer;
    text-align: center;
    color: var(--text-black-600);
    transition: all 0.3s ease;
}

.nav-menu .close-nav-menu:after{
    border-radius: 50%;
}

.inner-nav-menu{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu ul{
    padding: 15px;
}

.nav-menu ul li{
    display: block;
    margin-bottom: 2.4vh;
    text-align: center;
}

.nav-menu ul li:last-child{
    margin-bottom: 0;
}

.nav-menu ul li a{
    display: inline-block;
    width: 15vw;
    font-size: 5vh;
    font-weight: 600;
    color: var(--text-black-700);
    padding: 0.6vh 2vw;
    text-transform: capitalize;
    border-radius: 30px;
    transition: all 0.3s ease;

    text-align: justify;
    text-justify: inter-word;
}

.nav-menu ul li a.active{
    color: lightslategray;
}

.nav-menu ul li a:after{
    border-radius: 30px;
}

/* hamburger menu - navigation - end */

/* home */
.home-section{
    position: relative;
}

.home-section .full-screen{
    padding-left: 50px ;
    min-height: 100vh;
}

.home-section .home-text,
.home-section .home-img{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;

}

.home-section .home-text h1{
    font-size: 6vh;
    max-zoom: 2.0;
    font-weight: 700;
    color: var(--text-black-900);
    margin: 0;
}

.typing-effect{
    width: 63vh;
    animation: typingEffect 3s steps(32), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;

    /* display: inline-block; */
    font-size: 4vh;
    font-weight: 500;
    color: var(--text-black-700);
    text-transform: capitalize;
    margin: 0;

    border-right: 0.5vh solid;
}

@keyframes typingEffect{
    from{
        width: 0;
    }
}

@keyframes blink{
    50%{
        border-color: transparent;
    }
}

.home-section .home-text .btn-1{
    margin-top: 30px;
    font-size: 3vh;
    min-zoom: 0.3;
    width: 11vw;
    max-width: 400px;
    min-width: 150px;
    text-align: center;
}

.home-section .home-img .img-box{
    height: 50vh;
    width: 50vh;
    max-width: 450px;
    max-height: 450px;
    display: block;
    margin: auto;
    border-radius: 50%;
    padding: 15px;
}

.home-section .home-img .img-box img{
    width: 100%;
    border-radius: 50%;
    border: 10px solid transparent;
}
/* home - end */

/* about */

.about-section{
    padding: 4.2vh 0 4.2vh;
    min-height: 100vh;
}

.about-illustration{
    flex: 0 0 40%;
    text-align: center;
    border-radius: 3.5vh;
    padding: 1.5vh;
}

/* ------------------------------------svg animation -------------------------------------*/
#Headphones{
    animation: bouncingToBeat 0.5s infinite linear alternate;
    transform-origin: center;
    transform-box: fill-box;
    
}

#Head{
    animation: bouncingToBeat 0.5s infinite linear alternate;
    transform-origin: center;
    transform-box: fill-box;
}

#Left-hand{
    animation: leftTyping 0.4s infinite linear alternate;
    transform-origin: center;
    transform-box: fill-box;
}

#Right-hand{
    animation: rightTyping 0.2s infinite linear alternate;
    transform-origin: center;
    transform-box: fill-box;
}

#contribution-1,
#contribution-2,
#contribution-3,
#contribution-4,
#contribution-5,
#contribution-6,
#contribution-7,
#contribution-8,
#contribution-9,
#contribution-10{
    animation: bounceEffect 2s infinite linear alternate;
    transform-origin: center;
    transform-box: fill-box;
}

#contribution-2{
    animation-delay: 0.1s;
}

#contribution-3{
    animation-delay: 0.2s;
}

#contribution-3{
    animation-delay: 0.3s;
}

#contribution-4{
    animation-delay: 0.4s;
}

#contribution-5{
    animation-delay: 0.5s;
}

#contribution-6{
    animation-delay: 0.6s;
}

#contribution-7{
    animation-delay: 0.7s;
}

#contribution-8{
    animation-delay: 0.8s;
}

#contribution-9{
    animation-delay: 0.9s;
}

#contribution-10{
    animation-delay: 1s;
}

@keyframes bouncingToBeat{
    from{
        transform: translateY(-5px) rotateZ(0deg);
    }
    to{
        transform: translateY(5px) rotateZ(-5deg);
    }
}

@keyframes leftTyping{
    from{
        transform: translateY(-6px) rotateZ(0deg);
    }
    to{
        transform: translateY(3px) rotateZ(-5deg);
    }
}

@keyframes rightTyping{
    from{
        transform: translateY(-3px) rotateZ(0deg);
    }
    to{
        transform: translateY(6px) rotateZ(5deg);
    }
}

@keyframes bounceEffect{
    from{
        tranform: translateY(0px) rotateZ(-4deg);
    }
    to{
        transform: translateY(-100px) rotateZ(4deg);
    }
}

/* ----------------------------------------svg animation - end----------------------------------- */

.about-section{
    background-color: whitesmoke;
}

.about-section .about-info{
    flex: 0 0 60%;
    padding: 1em;
    text-align: justify;
    text-justify: inter-word;
    font-size: 2.5vh;
    font-weight: 400;
    font-family: "Roboto";
    color: var(--text-black-700);
}

.about-section .about-info .text-wrapper{
    display: inline-flex;
}

.about-section .about-info .static-text{
    font-size: 3vh;
    color: var(--text-black-700);
    width: 15vh;
}

.about-section .about-info .dynamic-texts{
    position: absolute; 
    overflow: hidden;
    height: 4.5vh;
    line-height: 4.5vh;

    font-size: 3vh;
    font-weight: 500;
    padding-left: 15vh;
    color: lightslategray;
    font-family: "Permanent Marker";
    list-style: none;
}

.about-section .about-info .dynamic-texts li{
    animation: changingTextSlide 6s steps(3) infinite;
    position: relative;
    top: 0;
}

.about-section .about-info .dynamic-texts li span{
    position: relative;
}

.about-section .about-info .dynamic-texts li span:after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    border-left: 0.5vh solid lightslategray;
    animation: changingText 2s steps(7) infinite, blink 0.5s step-end infinite;
    background: whitesmoke;
}

@keyframes changingText{
    100%{
        left: 100%;
        margin: 0 -2.5vh 0 2.5vh
    }
}

@keyframes changingTextSlide{
    100%{
        top: -13.5vh;
    }
}

.about-section .social-links{
    margin-top: 2.6vh;
    text-align: center;
}

.about-section .social-links a{
    display: inline-block;
    height: 5.2vh;
    width: 5.2vh;
    font-size: 3vh;
    text-align: center;
    color: var(--text-black-600);
    margin: 0 0.5vh;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.about-section .social-links a i{
    line-height: 5.2vh;
}

.about-section .social-links a:after{
    border-radius: 50%;
}

.about-section .social-links a:hover{
    color: lightslategray;
}

.about-section .about-tabs{
    padding: 7.9vh 2vh 7.9vh;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
}

.about-section .about-tabs .tab-item{
    display: inline-block;
    margin: 0 0.6vh 1.2vh;
    cursor: pointer;
    padding: 0.6vh 1.2vh;
    border-radius: 3.9vh;
    transition: all 0.3s ease;
    font-size: 3vh;
    color: var(--text-black-600);
    font-weight: 500;
    text-transform: capitalize;
}

.about-section .about-tabs .tab-item:hover:not(.active){
    opacity: 0.6;
}

.about-section .about-tabs .tab-item.active{
    color: lightslategray;
}

.about-section .tab-content{
    flex: 0 0 100%;
    max-width: 100;
    display: none;
}

.about-section .tab-content.active{
    display: flex;
    animation: fadeInTop 0.5s ease;
}

@keyframes fadeInTop{
    0%{
        opacity: 0;
        transform: translateY(-3.2vh);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.about-section .skills{
    align-items: center;
    padding: 5.2vh 0;
    font-size: 2.5vmin;
    flex-wrap: wrap;
}

.about-section .skills .skill-item{
    justify-content: center;
    align-items: center;

    padding: 1em;
    border-radius: 15%;
    text-align: center;
    margin: 0 0.6vh 1.2vh;
    width: 23vw;
    height: 39vh;
}

.about-section .skills .skill-item .box{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: var(--text-black-700);
    font-family: "Permanent Marker";
}

.about-section .skills:hover .skill-item .box .content h2,p{
    pointer-events: none;
}

.about-section .skills .skill-item .box .content p{
    font-size: 1.8vmin;
    font-family: "Roboto";
}

.about-section .skills .skill-item .box .content a{
    display: inline-block;
    padding: 1vh 2.6vh;
    margin-top: 2.6vh;
    border-radius: 2.6vh;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
}

.about-section .skills .skill-item .box .content a:after{
    border-radius: 2.6vh;
}

.about-section .experience{
    padding-bottom: 10.5vh;
    width: 100%;
}

.about-section .experience .row{
    width: 100%;
}

.about-section .timeline{
    flex: 0 0 100%;
    max-width: 100%;
}

.about-section .timeline:before{
    content: "";
    width: 0.7vmin;
    height: 60vh;
    left: 50%;
    background-color: var(--bg-black-100);
    position: absolute;
}

.about-section .timeline .timeline-item{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 2vh;
    height: 30vh;
}

.about-section .timeline .timeline-item:nth-child(odd){
    padding-right: calc(50% + 6.5vh);
    text-align: right;
}

.about-section .timeline .timeline-item:nth-child(even){
    padding-left: calc(50% + 6.5vh);
    text-align: left;
}

.about-section .timeline .timeline-item-inner{
    padding: 3.9vh;
    border-radius: 0.6vh;
}

.about-section .timeline .timeline-item:nth-child(odd) .timeline-item-inner:before{
    content: "";
    position: absolute;
    width: 3.5vh;
    height: 0.6vh;
    background-color: var(--bg-black-100);
    left: 47%;
    margin-top: 2.8vh;
}

.about-section .timeline .timeline-item:nth-child(even) .timeline-item-inner:before{
    content: "";
    position: absolute;
    width: 3.5vh;
    height: 0.6vh;
    background-color: var(--bg-black-100);
    right: 46.8%;
    margin-top: 2.8vh;
}

/* .about-section .timeline .timeline-item:nth-child(odd) .timeline-item-inner:before{
    right: 5vh;
} */

/* .about-section .timeline .timeline-item:nth-child(even) .timeline-item-inner:before{
    left: -30px;
} */

.about-section .timeline .timeline-item-inner .icon{
    height: 6vh;
    width: 6vh;

    background-color: var(--bg-black-50);
    color: lightslategray;
    border: 0.6vh solid var(--bg-black-100);
    border-radius: 50%;
    font-size: 2.5vh;
    text-align: center;
    line-height: 5.2vh;
    position: absolute;

}

.about-section .timeline .timeline-item-inner:nth-child(odd) .icon{
    right: 48.4%;
}

.about-section .timeline .timeline-item-inner:nth-child(even) .icon{
    left: 48.4%;
}

.about-section .timeline .timeline-item-inner span{
    font-size: 3vh;
    color: lightslategray;
    display: block;
    margin: 0 0 1.3vh;
    font-weight: 500;
}

.about-section .timeline .timeline-item-inner h3{
    font-size: 2.8vh;
    color: var(--text-black-700);
    font-weight: 600;
    margin: 0 0 0.6vh;
    text-transform: capitalize;
}

.about-section .timeline .timeline-item-inner h4{
    font-size: 2.5vh;
    font-style: italic;
    color: var(--text-black-600);
    margin: 0;
}

.about-section .timeline .timeline-item-inner p{
    font-size: 2.5vh;
    color: var(--text-black-600);
    line-height: 3vh;
    margin: 2.4vh 0 0;
}

.about-section .education{
    padding-bottom: 10.5vh;
    width: 100%;
}

.about-section .education .timeline:before{
    content: "";
    width: 0.7vmin;
    height: 90vh;
    left: 50%;
    background-color: var(--bg-black-100);
    position: absolute;
}

/* about - end */